<%= form_with url: tasks_url do |form| %>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description,
        autocomplete: "off", autofocus: true, class: "form-control" %>
  </div>
  <%= form.submit "Create Task", class: "btn btn-primary" %>
<% end %>
